.footers{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
    font-family: 'Open Sans', sans-serif;
   
    .soc-icon{
        text-decoration: none;
        color:black;      

        i{
            font-size: 1.7em;
        }
    }

    .pad{
            padding-right:1px!important;
    }

h4{
    letter-spacing: 2px;
    font-size: 14px;
}

a{
    &:link{
        text-decoration: none;
        color:black;
    }
    &:hover{
        color: orange;
    }
}



    #social-tw:hover {
        color: #4099FF;
        transition:all .001s;
    }
    #social-in:hover {
        color: #ff1495;
        transition:all .001s;
    }
    #social-fb:hover {
        color: #4520eb;
        transition:all .001s;
    }
}
